body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: sans-serif;
    overflow: hidden; /* Отключаем прокрутку страницы */
}
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --bottom-safe: calc(var(--lvh, 100vh) - var(--tg-viewport-height, 100vh));
}
.dark {
    --bg-color: #000000;
    --text-color: #ffffff;
}
#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: calc(var(--tg-safe-area-inset-top, 0px) + var(--tg-content-safe-area-inset-top, 0px) + 15px);
    padding-left: 16px;
    padding-right: 16px;
}
#header {
    display: flex;
    gap: 16px;
    background-color: var(--header-bg);
    color: var(--header-text);
}
.tab-content {
    flex: 1;
    overflow: auto;
    /*padding: 16px;*/
}
.bottom-bar {
    display: flex;
    justify-content: space-around;
    background-color: #ccc;
    border-radius: 16px;
    height: 64px;
    margin: 16px;
    position: fixed;
    bottom: calc(env(safe-area-inset-bottom, 0px) + 16px);
    left: 0;
    right: 0;
}
.bottom-bar button {
    padding: 12px;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    cursor: pointer;
}
#clicker {
    width: 240px;
    height: 240px;
    margin: 20px auto;
    cursor: pointer;
    background-image: url(farmer.png);
    background-size: cover;
}
.animal-block {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
}
.resource-list {
    list-style: none;
    padding: 0;
}
.resource-list li {
    margin: 5px 0;
}
.daily-reward, .market-item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
}
button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.tg-content-safe-area {
    padding-top: var(--tg-safe-area-top, 0px);
    padding-bottom: var(--tg-safe-area-bottom, 0px);
    padding-left: var(--tg-safe-area-left, 0px);
    padding-right: var(--tg-safe-area-right, 0px);
}
.lyi0vd {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    background: #ccc;
    border-radius: 16px;
}
.lyi0vd svg {
    width: 24px;
    height: 24px;
}